<!-- Topics Start -->
<div class="topics">
    <div class="topics__header">
        <h2>Browse Topics</h2>
    </div>
    <ul class="topics__list">
        <li>
            <a href="{% url "home" %}" class="active">All <span>{{ number_of_all_rooms }}</span></a>
        </li>

        {% for topic_dict in most_topic_rooms %}
            <li>

            {#  key -> is the topic name     value -> rooms in topic  #}
            {% for key, value in topic_dict.items %}
                <a href="{% url 'home' %}?topic={{ key }}" class="active">{{ key }} <span>{{ value }}</span></a>
            {% endfor %}

            </li>

        {% endfor %}

    </ul>
    {#  go to all topics page  #}
    <a class="btn btn--link" href="{% url "topics" %}">
        More
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
    </a>
</div>
<!-- Topics End -->